@model TheMen.Models.DetailModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutShare.cshtml";
}

<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Thời trang siêu đẹp siêu ngầu</title>
    <link rel="stylesheet" type="text/css" href="~/css/style-detail.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-main">
        <div class="box-main">
            <div class="main">
                <div class="clear">
                    <h2 class="name-item">@Model.product.ProductName</h2>
                    <div class="box-img-description">
                        <div class="col-img">
                            <div class="box-img">
                                <img src="~/img/@Model.product.Image">
                            </div>
                        </div>
                        <div class="col-description">
                            <div class="box-description">
                                <p style="line-height: 30px">@Model.product.Description</p>
                                <p><strong>Thương hiệu: </strong> @Model.product.Brand</p>
                                <p><strong>Xuất xứ: </strong> @Model.product.MadeIn</p>
                                <p><strong>Bảo hành: </strong> 6 tháng</p>
                                <br />
                                <br />
                                <p style="font-size: 17px">Giao hàng chỉ 30k toàn hành tinh. Miễn phí giao hàng ngoài hành tinh. </p>
                            </div>
                            <div class="box-price">
                                <div class="box-wrapper">
                                    <div class="box-text">
                                        <input type="number" id="itemSoluong" class="soluong" value="1">
                                        <div class="price-wrapper">
                                            <div class="price">@Model.product.Price<span class="đ">đ</span></div>
                                        </div>
                                        <div class="add-to-card-btn">
                                            <div class="button"> <a id="addtocart" href="#" class="btn"> <span class="btn-label">Mua ngay</span> </a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-after-main">
            <div class="clear">
                <div class="box-section-content">
                    <div class="small-container">
                        <h2 class="line">Sản phẩm cùng danh mục</h2>
                        <div class="row">
                            @foreach (var item in Model.ListProductCategory.Take(4))//lay 5 item tu` HomeModel
                            {
                                <!--col 1-->
                                <div class="col-5">
                                    <div class="box-wrapper">
                                        <a class="box-img" href="@Url.Action("Detail", "Home", new {id = item.ProductId})"><img src="~/img/@item.Image"></a>
                                        <div class="box-text">
                                            <div class="title-wrapper">
                                                <div class="title">@item.ProductName</div>
                                            </div>
                                            <div class="price-wrapper">
                                                <div class="price">@item.Price<span class="đ">đ</span></div>
                                            </div>
                                            <div class="add-to-card-btn">
                                                <div class="button"> <b id="addtocart" class="btn"> <span class="btn-label">Mua ngay</span> </b> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                                <!--end col 1-->
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.ProductId = @Model.product.ProductId;
            //lấy số lượng sản phẩm
            model.Soluong = $("#itemSoluong").val();
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data: JSON.stringify(model),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
            alert("Thêm vào giỏ hàng thành công!")
                    $('#CartCount').text(@Session["count"] + 1);
        },
            error: function () {
            alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
                return false;
            });
    });
</script>



